/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:ital,wght@1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

/*
Vendors contains any third-party stylesheets a project uses. For instance, if we wanted to use Bootstrap alongside our own custom Sass in a project, we'd download the Bootstrap stylesheet and place it here.
*/
/*
base contains boilerplate used throughout an entire si te. This includes project-wide typography styles, and stylesheets that universally reset or normalize default CSS.
*/
.wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* A media query for a large screen */
@media (min-width: 1170px) {
  .wrapper {
    max-width: 1170px;
  }
}

/* Montserrat Alternates */
/*
This file is used to contain all component imports.
Files inside this folder can contain specific element styles and layout. 
*/
nav {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  position: fixed;
  width: 100%;
}

nav .logo {
  color: #FFFFFF;
  font-size: 48px;
  font-family: 'Montserrat Alternates', sans-serif;
}

nav .navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -48px;
}

@media screen and (max-width: 768px) {
  nav .navMenu {
    display: none;
  }
}

nav .navLink {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

nav .navLink a:link {
  text-decoration: none;
}

nav .navLink a:visited {
  color: #FFFFFF;
}

nav .navLink:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

nav .menuBar {
  display: none;
}

@media screen and (max-width: 768px) {
  nav .menuBar {
    display: block;
    background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
    background-size: contain;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-50%, 25%);
            transform: translate(-50%, 25%);
  }
}

.nav-btn {
  background: #0074D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  white-space: nowrap;
  outline: none;
  min-width: 100px;
  max-width: 200px;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: flex;
  align-items: center;
  padding: 14px 24px;
  color: #FFFFFF;
  font-size: 14px;
}

.nav-btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.nav-btn.primary {
  color: white;
  background: #0074D9;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .nav-btn.primary {
    display: none;
  }
}

.nav-btn.big {
  padding: 16px 40px;
}

.dropdownContainer {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #ffa949;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  -webkit-transition: 0.3 ease-in-out;
  transition: 0.3 ease-in-out;
  opacity: 1;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdownContainer .icon {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  padding: 1rem 2rem;
}

.dropdownContainer .closeIcon {
  display: none;
}

@media screen and (max-width: 768px) {
  .dropdownContainer .closeIcon {
    display: block;
    background-image: url('data:image/svg+xml;utf-8, <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="transparent"/><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" fill="white" /></svg>');
    background-size: contain;
    height: 40px;
    width: 40px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-50%, 25%);
            transform: translate(-50%, 25%);
  }
}

.dropdownContainer .closeIcon:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.dropdownContainer .dropdownMenu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (80px)[4];
      grid-template-rows: repeat(4, 80px);
  text-align: center;
  margin-bottom: 4rem;
}

@media screen and (max-width: 480px) {
  .dropdownContainer .dropdownMenu {
    -ms-grid-rows: 4, 60px;
        grid-template-rows: 4, 60px;
  }
}

.dropdownContainer .dropdownLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.dropdownContainer .dropdownLink:hover {
  color: #111111;
}

.dropdownContainer .btnWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.section {
  width: 100%;
  height: 100%;
  padding: 4rem 0rem;
}

.container {
  padding: 3rem calc((100vw-1300px) / 2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 800px;
      grid-template-rows: 800px;
}

@media screen and (max-width: 768px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.columnLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  line-height: 1.4;
  padding: 1rem 2rem;
}

.columnLeft h1 {
  margin-bottom: 1rem;
  font-size: clamp(1.5rem, 6vw, 2rem);
}

.columnLeft p {
  margin-bottom: 2rem;
}

.columnRight {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .columnRight {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.columnRight img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .columnRight img {
    width: 90%;
    height: 90%;
  }
}

/* The Pages partial contains the styles for every individual page. Almost every page needs to have specific styles that are to be used only for that particular page. */
/* Import Layout files */
.home h1 {
  color: red;
}

.home body {
  background-color: #7FDBFF;
}

.heroSection {
  height: 100vh;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}

.heroWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

.prevArrow, .nextArrow {
  width: 50px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  background: #0074D9;
  border-radius: 50px;
  padding: 10px;
  margin-right: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.prevArrow:hover, .nextArrow:hover {
  background: #cd853f;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sliderButtons {
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.heroSlide {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.heroSlider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heroSlider::before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  bottom: 0vh;
  left: 0;
  overflow: hidden;
  opacity: 0.4;
  background: -webkit-gradient(linear, left bottom, left top, from(rba(0, 0, 0, 0.2)), color-stop(50%, rba(0, 0, 0, 0.2)), to(rba(0, 0, 0, 0.6)));
  background: linear-gradient(0deg, rba(0, 0, 0, 0.2) 0%, rba(0, 0, 0, 0.2) 50%, rba(0, 0, 0, 0.6) 100%);
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.heroContent {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: calc(100% - 100px);
  color: #FFFFFF;
}

.heroContent h1 {
  font-size: clamp(1rem, 8vw, 2rem);
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  text-align: left;
  margin-bottom: 0.8rem;
}

.heroContent p {
  margin-bottom: 1.2rem;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
/*# sourceMappingURL=main2.css.map */